@import '../../variables';

.main {
    display: flex;
    justify-content: space-between;
    gap: 123px;

    @media screen and (max-width: 1120px) {
        gap: 30px;
        flex-wrap: wrap;
        justify-content: center;
    }

    &_img {
        // width: 445px;
        width: 80%;
        height: 526px;
        border-radius: 5px;

        @media screen and (max-width: 1120px) {
            // width: 360px;
            // height: 400px;
            width: 100%;
            object-fit: contain;
        }

        @media screen and (max-width: 768px) {
            // height: 252px;
            height: 400px;
        }
    }

    &_right {
        @include flexCol;
        gap: 40px;

        @media screen and (max-width: 768px) {
            gap: 35px;
        }
    }

    &_context {
        @include flexCol;
        gap: 28px;
        width: 100%;
        align-items: flex-start;

        @media screen and (max-width: 1120px) {
            align-items: center;
            justify-content: center;
        }

        h2 {
            color: $text;
            font-size: 40px;
            font-weight: 600;
            line-height: 44px;
            text-align: left;

            @media screen and (max-width: 768px) {
                font-size: 33.04px;
                font-weight: 600;
                line-height: 36.35px;
            }
        }

        &_text {
            @include flexCol;
            gap: 10px;

            p {
                color: $text;
                font-size: 16px;
                font-weight: 400;
                line-height: 24px;

                @media screen and (max-width: 768px) {
                    font-size: 13.22px;
                    font-weight: 400;
                    line-height: 19.82px;
                }
            }
        }
    }

    &_decision {
        @include flexCol;
        gap: 40px;
    }

    &_form {
        @include flexCol;
        gap: 24px;

        h4 {
            color: $darkGreen;
            font-size: 14px;
            font-weight: 600;
            line-height: 21px;

            @media screen and (max-width: 768px) {
                font-size: 12px;
                font-weight: 600;
                line-height: 18px;
            }
        }

        &_top {
            @include flex;
            gap: 22px;

            input {
                color: $text;
                border-bottom: 1px solid $border;
                font-size: 14px;
                font-weight: 400;
                line-height: 21px;
                padding-bottom: 11px;
                width: 100%;

                @media screen and (max-width: 768px) {
                    font-size: 12px;
                    line-height: 18px;
                    padding-bottom: 9px;
                }
            }
        }

        textarea {
            color: $text;
            border-bottom: 1px solid $border;
            font-size: 14px;
            font-weight: 400;
            line-height: 21px;
            width: 100%;

            @media screen and (max-width: 768px) {
                font-size: 12px;
                line-height: 18px;
            }
        }

        &_btns {
            @include flex;
            gap: 10px;
            padding-top: 18px;

            @media screen and (max-width: 1120px) {
                width: 100%;
                justify-content: center;
            }

            button {
                font-size: 16px;
                font-weight: 600;
                line-height: 24px;
                border-radius: 5px;
                padding: 11px 17px;

                @media screen and (max-width: 768px) {
                    font-size: 13px;
                    line-height: 20px;
                    padding: 9px 14px;
                }
            }
        }

        &_remainder {
            @include flex;
            gap: 15px;

            @media screen and (max-width: 1120px) {
                width: 100%;
                justify-content: center;
            }
        }
    }
}